<style>
  .ui-scrollfix .overview-nav {
  	position: fixed;
  	margin-top: 0;
  	top: 0;
  }

  .ui-scrollfix .club-list {
  	margin-top: 70px;
  }
</style>
<div class="row">
	<div class="col-lg-12 col-md-12" data-ui-scrollfix>
		<nav class="navbar navbar-default overview-nav">
			<form class="navbar-form navbar-left" role="form">
				<div class="form-group">
					<label class="sr-only" for="search">Search All</label>
					<input type="text" class="form-control" id="search" name="search" data-ng-model="search.string" placeholder="Begin Typing to Search">
				</div>
			</form>
		</nav>
		<table class="table club-list">
			<thead>
				<tr>
					<th data-ng-repeat="column in columns" class="{{sortClass(column.key)}}" data-ng-click="sort(column.key)">
						{{column.name}}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="club in clubs">
					<td data-ng-repeat="column in columns">
						{{club[column.key]}}
					</td>
				</tr>
			</tbody>
		</table>