<form id="clubregistration" class="form-horizontal">

  <h1>About Your Organization</h1>

  <div data-horiz-form-el data-label-cols="2" data-control-cols="6" label="Full Name" elementId="fullname" data-help="No acronyms or abbreviations.">
    <input type="text" id="fullname" class="form-control" placeholder="Full Name of Organization" ng-model="registration.fullname">
  </div>

  <div data-horiz-form-el data-label-cols="2" data-control-cols="1" label="Short Name" elementId="shortname" data-help="Many clubs already have a well-known acronym; please enter it or make one up.">
    <input type="text" id="shortname" class="form-control" placeholder="ABC" ng-model="registration.shortname">
  </div>

  <div data-horiz-form-el data-label-cols="2" data-control-cols="4" label="Address" elementId="address" data-help="Do not use your personal ASU BOX.">
    <input type="text" id="address" class="form-control" placeholder="ASU PO Box or Advisor's Office Address" ng-model="registration.address">
  </div>

  <div data-horiz-form-el data-label-cols="2" data-control-cols="4" label="Bank" elementId="bank" data-help="Leave blank if your organization does not have a bank account.  <em>Do not</em> provide your account number.">
    <input type="text" id="bank" class="form-control" placeholder="Name of Bank" ng-model="registration.bank">
  </div>

  <div data-horiz-form-el data-label-cols="2" data-control-cols="4" label="EIN" elementId="ein" data-help="Leave blank if your organization does not have a bank account.">
    <input type="text" id="ein" class="form-control" placeholder="Employer Identification Number" ng-model="registration.ein">
  </div>

  <h1>Categorization</h1>

  <div class="row">

    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">SGA Elections</h4>
        </div>
        <div class="panel-body">
          <p class="help-block">Select the <em>one</em> category that best fits your organization for SGA Election purposes.</p>
          <div data-tag-select data-radio="true" data-tags="electionTags" data-cols="1"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">Club Directory Search</h4>
        </div>
        <div class="panel-body">
          <p class="help-block">Select <em>one or more</em> categories that describe your organization.</p>
          <div data-tag-select data-tags="searchTags" data-cols="3"></div>
        </div>
      </div>
    </div>

  </div>
    
  <h1>Public Profile</h1>
  <p class="help-block">The following information will be displayed publicly when potential members are searching for organizations on the <a href="https://clubconnect.appstate.edu/sdr/clubs" target="_blank">Club Directory</a>.</p>

  <div data-horiz-form-el data-label-cols="2" data-control-cols="10" label="Purpose" elementId="purpose">
    <input type="text" id="purpose" class="form-control" placeholder="Copy directly from your organization's constitution." ng-model="registration.purpose">
  </div>

  <div data-horiz-form-el data-label-cols="2" data-control-cols="10" label="Description" elementId="description">
    <textarea id="description" class="form-control" ng-model="registration.description" rows="10" placeholder="Feel free to go on at length."></textarea>
  </div>

  <div data-horiz-form-el data-label-cols="2" data-control-cols="4" label="Meeting Schedule" elementId="meetings">
    <input type="text" id="meetings" class="form-control" ng-model="registration.meetings" placeholder="Second Thursday of Every Month at 7pm">
  </div>

  <div data-horiz-form-el data-label-cols="2" data-control-cols="4" label="Meeting Location" elementId="location">
    <input type="text" id="location" class="form-control" ng-model="registration.location" placeholder="John Thomas Hall, room 387">
  </div>

  <div data-horiz-form-el data-label-cols="2" data-control-cols="5" label="Website" elementId="website" help="If you need a website, please fill out a <a href='https://ess.appstate.edu/consultation-form' target='blank'>Website Consultation Form</a>.">
    <input type="text" id="website" class="form-control" ng-model="registration.website" placeholder="http://example.com/club">
  </div>

  <h1>People</h1>

  <div class="panel">
    <div class="panel-heading">
      <h4 class="panel-title">Advisor and Officers</h4>
    </div>
    <div class="panel-body">
      TODO: finish this
    </div>
  </div>

  <h1>Elections</h1>
  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">Election Month</h4>
        </div>
        <div class="panel-body">
          <p class="help-block">Select <em>one or more</em> months in which your organization holds officer elections.</p>
          <div data-tag-select data-tags="monthTags" data-cols="3"></div>
        </div>
      </div>
    </div>
  </div>
    
</form>
