<div class="row">
  <div class="col-lg-4 col-md-4">
    <div class="panel">
      <div class="panel-heading">
        <h4 class="panel-title">Club Search</h4>
      </div>
      <div class="panel-body">
        <form class="form-inline">
          <div class="form-group">
            <label class="sr-only" for="search">Search Clubs</label>
            <input type="text" id="search" name="search" data-ng-model="search" class="form-control" placeholder="Type here to search">
          </div>
        </form>
<!--        <strong>Or, filter by tags:</strong>
<div data-tag-select data-tags="tags" data-ng-model="selectedTags" data-cols="3"></div>-->
      </div>
    </div>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h4 class="panel-title">Unregistered Clubs</h4>
      </div>
      <div class="panel-body">
        <p>Do you see your organization listed as "Not yet registered"?</p>
        <p>You must fill out a Club Registration Form to continue to be officially recognized by Appalachian State University and to receive the benefits of official recognition.</p>
        <p>Also, no one can officially join your club until it has been registered.</p>
        <p><a class="btn btn-primary btn-large" href="{{url.clubreg}}"><i class="icon-hand-right"></i> Club Registration Form</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-8 col-md-8">
    <table class="table table-hover" class="club-list">
      <tr class="cursor-pointer" data-ng-repeat="club in clubs | filter:forClubDirectory | filter:search | orderBy:orderClubDirectory" data-ng-click="clubRowClicked(club.url.default)">
        <td>
          <a href="{{club.url.default}}">{{club.fullname}}</a>
          <div class="pull-right">
            <span class="label label-warning" data-ng-show="club.term != 201340">Not yet registered</span>
            <span class="label label-info" data-ng-show="club.term != 201340 && user.type == 'admin'">{{club.term}}</span>
        </td>
      </tr>
    </table>
  </div>
</div>
