<div class="row">
  <div class="span3">
    <h1>Modules</h1>
    <ul class="nav nav-tabs nav-stacked">
      <li><a href="#/clubs">Club Directory <span class="label">Public</span></a></li>
      <li class="disabled"><a href="profile.html">Club Profile <span class="label">Public</span></a></li>
      <li class="disabled"><a href="useroverview.html">User Overview <span class="label">User</span></a></li>
      <li class="disabled"><a href="transcript.html">Co-Curricular Transcript <span class="label">User</span></a></li>
      <li><a href="#/registration">Club Registration <span class="label">User</span></a></li>
      <li class="disabled"><a href="clubmanager.html">Club Manager <span class="label">Super</span></a></li>
      <li class="disabled"><a href="people.html">People <span class="label">Admin</span></a></li>
      <li class="disabled"><a href="person.html">Person <span class="label">Admin</span></a></li>
      <li class="disabled"><a href="reporting.html">Reporting <span class="label">Admin</span></a></li>
      <li class="disabled"><a href="processes.html">Processes <span class="label">Admin</span></a></li>
      <li class="disabled"><a href="settings.html">Settings <span class="label">Admin</span></a></li>
    </ul>
  </div>
  <div class="span3">
    <h1>Directives</h1>
    <ul class="nav nav-tabs nav-stacked">
      <li><a href="#/dirdemo/tagselect">Tag Selector</a></li>
      <li><a href="#/dirdemo/clubdirectory">Club Directory</a></li>
      <li><a href="#/dirdemo/personselector">Person Selector</a></li>
    </ul>
  </div>
  <div class="span3">
    <h1>Filters</h1>
    <ul class="nav nav-tabs nav-stacked">
    </ul>
  </div>
  <div class="span3">
    <h1>Services</h1>
    <ul class="nav nav-tabs nav-stacked">
    </ul>
  </div>
</div>
