<form id="processReg" name="processReg">
  <div class="row">
    <div class="col-lg-12">
      <h1>{{registration.fullname}} <small>Club Registration Form for {{registration.term}}</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Basics</h4>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label>Registration ID</label>
            <input type="number" class="form-control" disabled="disabled" data-ng-model="registration.id">
          </div>
          <div class="form-group">
            <label>Term</label>
            <input type="text" class="form-control" disabled="disabled" data-ng-model="registration.term">
          </div>
          <div class="form-group">
            <label>Full Name</label>
            <input type="text" class="form-control" data-ng-model="registration.fullname">
          </div>
          <div class="form-group">
            <label>Short Name</label>
            <input type="text" class="form-control" data-ng-model="registration.shortname">
          </div>
          <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" data-ng-model="registration.address">
          </div>
          <div class="form-group">
            <label>Bank</label>
            <input type="text" class="form-control" data-ng-model="registration.bank">
          </div>
          <div class="form-group">
            <label>EIN</label>
            <input type="text" class="form-control" data-ng-model="registration.ein">
          </div>
          <div class="form-group">
            <label>Election Months</label>
            <input type="text" class="form-control" disabled="disabled" data-ng-model="registration.elections">
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">SGA Election Category</h4>
        </div>
        <div class="panel-body">
          <div data-tag-select="" data-radio="true" data-tags="sdrdata.electionTags" data-ng-model="registration.sgaelection"></div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Search Categories</h4>
        </div>
        <div class="panel-body">
          <div data-tag-select="" data-tags="sdrdata.searchTags" data-ng-model="registration.searchtags" data-cols="3"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Club Profile</h4>
        </div>
        <div class="panel-body">
          <div class="form-horizontal">
            <div class="form-group">
              <label class="col-lg-2 control-label">Purpose</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" data-ng-model="registration.purpose">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Description</label>
              <div class="col-lg-10">
                <textarea data-ckeditor="" class="form-control" data-ng-model="registration.description" rows="20"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Requirements</label>
              <div class="col-lg-10">
                <textarea class="form-control" data-ng-model="registration.requirements" rows="5"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Meeting Schedule</label>
              <div class="col-lg-4">
                <input type="text" class="form-control" data-ng-model="registration.meetings">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Meeting Location</label>
              <div class="col-lg-4">
                <input type="text" class="form-control" data-ng-model="registration.location">
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-2 control-label">Website</label>
              <div class="col-lg-4">
                <input type="text" class="form-control" data-ng-model="registration.website">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Officers</h4>
        </div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <th>Email Address</th>
                <th>Position</th>
                <th>Admin</th>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="input-group">
                    <input type="text" class="form-control" data-ng-model="registraton.advisor.person_email" data-typeahead="person.email for person in searchPeople($viewValue)">
                    <span class="input-group-addon">@appstate.edu</span>
                  </div>
                </td>
                <td>
                  Advisor
                </td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary" disabled="disabled">Yes</button>
                  </div>
                </td>
                <td data-ng-show="registration.advisor.match">
                  {{registration.advisor.match.fullname}}
                </td>
                <td class="danger" data-ng-hide="registration.advisor.match">
                  No Match Found
                </td>
              </tr>
              <tr>
                <td>
                  <div class="input-group">
                    <input type="text" class="form-control" data-ng-model="registration.president.person_email" data-typeahead="person.email for person in searchPeople($viewValue)">
                    <span class="input-group-addon">@appstate.edu</span>
                  </div>
                </td>
                <td>
                  President
                </td>
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary" disabled="disabled">Yes</button>
                  </div>
                </td>
                <td data-ng-show="registration.president.match">
                  {{registration.president.match.fullname}}
                </td>
                <td class="danger" data-ng-hide="registration.president.match">
                  No Match Found
                </td>
              </tr>
              <tr data-ng-repeat="officer in registration.officers">
                <td>{{officer.email}}</td>
  data-typeahead="person.email for person in searchPeople($viewValue)"               <td>{{officer.position}}</td>
                <div class="btn-group">-ipo
                  <button type="button" class="btn" data-ng-class="officer.admin == 1 && 'btn-primary' || 'btn-default'" data-ng-click="officer.admin = 1">Yes</button>
                  <button type="button" class="btn" data-ng-class="officer.admin == 0 && 'btn-primary' || 'btn-default'" data-ng-click="officer.admin = 0">No</button>
                </div>
                </td>
                <td data-ng-show="officer.match">
                  {{officer.match.fullname}}
                </td>
                <td class="danger" data-ng-hide="officer.match">
                  No Match Found
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h4 class="panel-title">If Form is Incomplete or Incorrect</h4>
        </div>
        <div class="panel-body">
          <p>If the contents of this form are unsatisfactory, please leave some comments here and click "Send Back".  Your comments will be emailed to the person that filled out the form.</p>
          <p><textarea class="form-control" data-ng-model="registration.node" placeholder="Leave Comments Here"></textarea></p>
          <a class="btn btn-danger btn-lg btn-block"><i class="icon-remove"></i> Send Back</a>
        </div>
      </div>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4 class="panel-title">If Form is Complete and Correct</h4>
        </div>
        <div class="panel-body">
          <p>Click this big green button to move things along.</p>
          <a class="btn btn-success btn-lg btn-block"><i class="icon-check"></i> Approve <span data-ng-show="processReg.$dirty">(you have made changes)</span></a>
        </div>
      </div>
    </div>
  </div>
</form>
