<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Notifications</h4>
      </div>
      <div class="list-group">
        <a href="{{n.url}}" class="list-group-item" data-ng-repeat="n in user.notifications">
          <h4 class="list-group-item-title"><i class="icon-chevron-right pull-right"></i>{{n.title}}</h4>
          <p class="list-group-item-text" data-ng-bind-html="n.text"></p>
        </a>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">Memberships</h4>
      </div>
      <div class="list-group">
        <a href="#" class="list-group-item">
          <span class="badge">2</span>
          <i class="icon-group"></i> Appalachian Linux Users Group 
        </a>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Pending</h4>
      </div>
      <ul class="list-group">
      </ul>
    </div>
  </div>
  <div class="col-lg-8">
    Insert Club Directory Here LOL
  </div>
</div>
